body{
    color:rgb(0, 0, 0);
background:rgb(255, 163, 253);
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

section {
    background: rgb(197, 149, 248);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}